@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mihir: I've imported the Inter font family as the default font to use */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900;400&display=swap');


:root {
  --background: #E7E7E3;
  --foreground: #E7E7E3;
  --text-primary: #000000;
  --text-secondary: #4A4A4A;
  --default-font-family: 'Outfit', sans-serif;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #E7E7E3;*/
/*    --foreground: #000000;*/
/*  }*/
/*}*/

body {
  color: var(--text-primary);
  background: var(--background);
}
